# ðŸ““ Notebook de Consulta - Schema analytics
Este notebook conecta ao banco e realiza consultas nas tabelas:
`fact_sales`, `dim_date`, `dim_customer`, `dim_product`, `dim_seller`

In [10]:
import sys
import pandas as pd
sys.path.append(r'C:/Users/mmsantos/Downloads/db p2/P2-BDA-/projeto-dw-grupo-A/scripts') #aqui pode alterar para o caminho da sua pasta
from connection import get_engine

engine = get_engine()
engine

Engine(postgresql://avnadmin:***@pg-602cf04-teusmath89-cc57.h.aivencloud.com:23430/defaultdb)

Aqui o cÃ³digo lista todas as tabelas existentes dentro deste schema

In [2]:
query_show = '''
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema='analytics'
ORDER BY table_name;
'''
pd.read_sql(query_show, engine)

  table_schema    table_name
0    analytics      df_items
1    analytics     df_orders
2    analytics  dim_customer
3    analytics      dim_date
4    analytics   dim_product
5    analytics    dim_seller
6    analytics    fact_sales

exemplo de consulta simples

In [3]:
query_sales = '''
SELECT * FROM analytics.fact_sales LIMIT 50;
'''
pd.read_sql(query_sales, engine)

,sale_sk,order_id,customer_sk,product_sk,seller_sk,date_sk,price,freight_value
0,1,00018f77f2f0320c557190d7a144bdd3,37586,30145,1225,235,239.90,19.93
1,2,000229ec398224ef6ca0657da4fc703e,26862,8007,1268,498,199.00,17.87
2,3,00048cc3ae777c65dbb7d2a0634bc1ea,68936,31720,2800,254,21.90,12.69
3,4,0005a1a1728c9d785b8e2b08b904576c,79591,22827,1830,562,145.95,11.65
4,5,00061f2a7bc09da83e415a52dc8a4af1,86749,7779,384,567,59.99,8.88
5,6,0006ec9db01a64e59a68b2c340bf65a7,23020,16638,60,689,74.00,23.32
6,7,0009c9a17f916a706d71784483a5d643,82044,22300,262,599,639.00,11.34
7,8,000e906b789b55f64edcb1f84030f90d,37708,27777,2999,444,21.99,11.85
8,9,000f25f4d72195062c040b12dce9a18a,62167,26156,178,550,119.99,44.40
9,10,0014ae671de39511f7575066200733b7,51527,27632,2804,261,16.50,14.10
10,11,001b76dd48a5b1eee3e87778daa40df8,5711,12143,1481,569,81.99,13.01
11,12,001c85b5f68d2be0cb0797afc9e8ce9a,25693,20235,60,447,99.00,13.71
12,13,001d8f0e34a38c37f7dba2a37d4eba8b,64825,24279,1200,253,18.99,7.78
13,14,001d8f0e34a38c37f7dba2a37d4eba8b,64825,24279,1200,253,18.99,7.78
14,15,001e7ba991be1b19605ca0316e7130f9,77107,20277,999,196,195.00,18.21
15,16,0020262c8a370bd5a174ea6a2a267321,21882,25704,492,451,79.50,21.05
16,17,00254baeb6c932b0a8aeead91fbd02b5,96787,25702,762,612,149.90,43.11
17,18,002d040018d12a3853c059f7f23ab5b1,63619,27515,857,442,155.00,14.84
18,19,003324c70b19a16798817b2b3640e721,49207,17878,2400,257,102.90,14.45
19,20,003324c70b19a16798817b2b3640e721,49207,17878,2400,257,102.90,14.45
20,21,00335f75ea6a4455b524a8dd177067f5,32330,1571,2022,599,168.80,8.21
21,22,0035c0b07126fe9c24a325216fb96064,83363,1774,2746,447,131.90,18.54
22,23,003d9fc84ad902adf2265248b5ffe1a4,47009,26867,2932,715,66.99,27.75
23,24,003f201cdd39cdd59b6447cff2195456,42897,18394,788,536,85.00,17.03
24,25,003f201cdd39cdd59b6447cff2195456,42897,18394,788,536,85.00,17.03
25,26,0045e3085f083f0f38d24bb3f22e6593,13016,24645,2871,341,116.90,13.84
26,27,0046176ff0dbc2a178b7885355dfbb71,93141,1646,1195,633,121.99,15.73
27,28,004b62108b876867938746ad3154167f,51997,27379,449,669,110.32,8.03
28,29,004eab0fd8f28adaf8d488976f77febe,16914,28589,2392,333,21.50,11.98
29,30,004fb11815bc03b01b20a614eef69d14,24968,21562,1603,448,72.99,19.75
30,31,00588f5f20fee630b83d4709e0a42715,81867,9953,1182,349,89.00,25.90
31,32,005a1dded353107dbabf8ffc83a20365,53343,6576,1164,524,75.00,14.28
32,33,0064d74f7de7917d54768d7722ad56ac,64353,26751,1346,372,189.90,31.17
33,34,006e91ddb0674525f84ce0da0655c7ba,72242,17694,2641,584,499.00,30.35
34,35,0078a358a14592b887eb140ef515f5ab,80434,10183,1529,429,253.52,82.86
35,36,007bbb40c95870c0f75a7855f2636c65,3689,27645,1303,598,148.90,13.95
36,37,007ec946d4f798caf2b43c9d44c56421,73210,14557,1452,447,27.90,15.10
37,38,007ff0b0f79be782f633fc3b18cbe337,45294,19682,345,518,39.00,16.11
38,39,0081ab2c99dc85945c28926b77dc6960,50306,9937,338,529,269.00,10.70
39,40,0081ce648af7d6a7bac2a93b6035d1e3,7607,22610,926,431,99.90,17.95
40,41,0084e195fbd72ae51599af47f04afede,75408,20257,2306,557,89.90,23.13
41,42,00858d03144cc35cfd1dd043647e7c88,5181,3356,1457,557,165.00,19.03
42,43,008819c6d5f6da6fa5cd9d50ca927cf4,27714,8751,1164,700,55.00,7.65
43,44,0091a677651feaf5a08d7bb147681e14,14105,14733,1164,720,38.00,7.53
44,45,00949655cdd8d0465e433a5e6c9643e5,48747,14431,702,660,18.00,7.87
45,46,0094d4660e323945f84f5c29eb348aae,37593,14143,1440,508,269.99,39.41
46,47,00975e709cd12c34d3bd44e4a7f7a876,39863,28187,2488,352,86.80,7.86
47,48,0097aafe2a01dd54e39888976160c377,58985,8834,2922,719,62.00,8.59
48,49,0097f0545a302aafa32782f1734ff71c,65475,16381,860,548,158.00,10.68
49,50,0097f0545a302aafa32782f1734ff71c,65475,21205,860,548,308.00,31.16

Consulta exemplo // modelo a seguir ( basicamente vocÃª substitui oq estÃ¡ dentro do select)

In [8]:
query = """
SELECT 
    d.year,
    d.month,
    SUM(f.price + f.freight_value) AS receita_total
FROM analytics.fact_sales f
JOIN analytics.dim_date d ON f.date_sk = d.date_sk  
GROUP BY 1,2
ORDER BY 1,2;
"""

df = pd.read_sql(query, engine)
df.head()

   year  month  receita_total
0  2016      9         354.75
1  2016     10       56808.84
2  2016     12          19.62
3  2017      1      137188.49
4  2017      2      286280.62